## Template for daily sales breakdown
## Has a maximum of 119 columns per line
|${t.FormattedCashierName}|${t.FormattedVatableSales}|${t.FormattedVatExSales}|${t.FormattedZeroRatedSales}|${t.FormattedVatAmount}|${t.FormattedTotalSales}|