## Template for daily sales
## Has a maximum of 119 columns per line
|${t.FormattedSaleDate}|${t.FormattedSinStart}|${t.FormattedSinEnd}|${t.FormattedTotalVatableSales}|${t.FormattedTotalVatExSales}|${t.FormattedTotalZeroRatedSales}|${t.FormattedTotalVatAmount}|${t.FormattedTotalDiscountAmount}|${t.FormattedTotalSales}|
|               +----------+----------+---------------+---------------+---------------+---------------+-------------+---------------+
|                BREAKDOWN:           |               |               |               |               |             |               |
#foreach( $formattedCashierSalesSummary in $t.FormattedCashierSalesSummaryList)
$formattedCashierSalesSummary
#end
+---------------+----------+----------+---------------+---------------+---------------+---------------+-------------+---------------+