## Template for Generated Purchase Order
## Has a maximum of 127 Column per line
                                                       PURCHASE ORDER                                                    
                                                   
                P.O. For : ${t.CompanyName}
            Sales Period : ${t.SalesPeriod}
            Purchase for : ${t.PurchasePeriod}
    Deliver On or Before : ${t.ExpectedDeliveryDate}
                    Date : ${t.Date}

+--------------------------------------------------------------+--------------------+--------------------+--------------------+
|                         Product Name                         |       Order        |     Inventory      |        Sold        |
+--------------------------------------------------------------+--------------------+--------------------+--------------------+
#foreach( $formattedPurchaseItem in $t.FormattedPurchaseItems)
$formattedPurchaseItem
#end
+--------------------------------------------------------------+--------------------+--------------------+--------------------+

        Total Base Sales : ${t.FormattedTotalBaseSales}
            Total Budget : ${t.FormattedTotalBudget}