## Template for Generated Purchase Order
## Has a maximum of 163 Column per line
                                                       PURCHASE ORDER                                                    
                                                   
                P.O. For : ${t.CompanyName}
            Sales Period : ${t.SalesPeriod}
  Expected Delivery Date : ${t.ExpectedDeliveryDate}
                    Date : ${t.Date}

+--------------------------------------------------------------+-------+--------+------------+------------+--------+--------+------------+------------+--------+
|%%                                Purchase Order                             %%|%%                                Statistics                                %%|
+--------------------------------------------------------------+-------+--------+------------+------------+--------+--------+------------+------------+--------+
|                         Product Name                         |  Qty  |  Unit  |   Sales    |   Profit   | Old SR | New SR | Old Budget | New Budget | Change |
+--------------------------------------------------------------+-------+--------+------------+------------+--------+--------+------------+------------+--------+
#foreach( $formattedPurchaseItem in $t.FormattedPurchaseItems)
$formattedPurchaseItem
#end
+--------------------------------------------------------------+-------+--------+------------+------------+--------+--------+------------+------------+--------+
