## Format for Generated Purchase Item
## Has exactly 150 columns in a line
|${t.ProductName}|${t.Quantity}|${t.Unit}|${t.Sales}|${t.PreviousSaleRate}|${t.CurrentSaleRate}|${t.PreviousTotalBudget}|${t.CurrentTotalBudget}|${t.NetBudgetChange}|