## Template for Sales Report
## Has a maximum of 133 columns per line
                                                      VPKC GROCERY SALES REPORT
                                                    ${t.FormattedDateFrom} - ${t.FormattedDateTo}
                                                         ${t.FormattedDate}
                                                         
         Transactions Included : ${t.FormattedTransactionsIncluded}
 
           Total VATable Sales : ${t.FormattedTotalVatableSales}
        Total VAT-Exempt Sales : ${t.FormattedTotalVatExSales}
        Total Zero Rated Sales : ${t.FormattedTotalZeroRatedSales}
              Total VAT Amount : ${t.FormattedTotalVatAmount}
		
                   GRAND TOTAL : ${t.FormattedGrandTotal}

+---------------+----------+----------+---------------+---------------+---------------+---------------+-------------+---------------+
|     Date      | SINStart | SIN End  |    VATable    |  VAT-Exempt   |  Zero Rated   |      VAT      |  Discount   |     Total     |
+---------------+----------+----------+---------------+---------------+---------------+---------------+-------------+---------------+
#foreach( $formattedDailySalesReport in $t.FormattedDailySalesReportList)
$formattedDailySalesReport
#end