<section>
	<div class="col-md-12 col-xs-12">
		<div class="row">
			<div class="col-md-6 col-xs-12"><h4><strong>Current Promos </strong> <button data-bind="visible: allowDownload, click: printCurrentPromo" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button></h4></div>
			<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems2, currentPage: currentPage2 } }" class="col-md-6 col-xs-12 pull-right"></div>
		</div>
		
		<div class="row">
	    	<div class="col-md-12">
	    		<table class="table table-responsive table-hover">
	    			<thead>
	    				<tr>
	    					<th>By</th>
	    					<th>Product</th>
	    					<th>Availability</th>
	    					<th>Type</th>
	    				</tr>
	    			</thead>
	    		
	    			<tbody data-bind="foreach: { data: promoList, as: 'promo' }">
	    				<tr>
	    					<td data-bind="text: promo.creator.shortName"></td>
	    					<td data-bind="text: promo.product.name"></td>
	    					<td data-bind="text: promo.formattedAvailability, style: { color: promo.availabilityColor }"></td>
	    					<td data-bind="text: promo.promoType.displayName"></td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    </div>
	</div>

	<div class="col-md-12 col-xs-12">
		<div class="row">
			<div class="col-md-6 col-xs-12"><h4><strong>Recent Price Changes</strong></h4></div>
			<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-6 col-xs-12 pull-right"></div>
		</div>
		
		<div class="row">
	    	<div class="col-md-12">
	    		<table class="table table-responsive table-hover">
	    			<thead>
	    				<tr>
	    					<th>Update By</th>
	    					<th>Product</th>
	    					<th>Unit</th>
	    					<th class="text-right">Old Price</th>
	    					<th class="text-right">New Price</th>
	    					<th class="text-center">As of</th>
	    				</tr>
	    			</thead>
	    		
	    			<tbody data-bind="foreach: { data: salePriceHistoryList, as: 'salePriceHistory' }">
	    				<tr>
	    					<td data-bind="text: salePriceHistory.updatedBy.shortName"></td>
	    					<td data-bind="text: salePriceHistory.product.name"></td>
	    					<td data-bind="text: salePriceHistory.unitType.displayName"></td>
	    					<td data-bind="text: salePriceHistory.formattedOldPrice" class="text-right"></td>
	    					<!-- ko if: salePriceHistory.increase -->
	    						<!-- ko if: salePriceHistory.new -->
	    						<td><span class="text-info pull-right"><span data-bind="text: salePriceHistory.formattedNewPrice"></span> <i class="fa fa-star"></i></span></td>
	    						<!-- /ko -->
	    						<!-- ko ifnot: salePriceHistory.new -->
	    						<td><span class="text-danger pull-right"><span data-bind="text: salePriceHistory.formattedNewPrice"></span> <i class="fa fa-arrow-up"></i></span></td>
	    						<!-- /ko -->
	    					<!-- /ko -->
	    					<!-- ko ifnot: salePriceHistory.increase -->
	    						<td><span class="text-success pull-right"><span data-bind="text: salePriceHistory.formattedNewPrice"></span> <i class="fa fa-arrow-down"></i></span></td>
	    					<!-- /ko -->
	    					<td data-bind="text: salePriceHistory.formattedCreatedOn" class="text-center"></td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    </div>
	</div>
	
	<div class="col-md-12 col-xs-12">
		<div class="row">
			<div class="col-md-6 col-xs-12"><h4><strong>Recently Ended Promos</strong></h4></div>
			<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems3, currentPage: currentPage3 } }" class="col-md-6 col-xs-12 pull-right"></div>
		</div>
		
		<div class="row">
	    	<div class="col-md-12">
	    		<table class="table table-responsive table-hover">
	    			<thead>
	    				<tr>
	    					<th>Product</th>
	    					<th>Ended</th>
	    				</tr>
	    			</thead>
	    		
	    			<tbody data-bind="foreach: { data: recentlyEndedPromoList, as: 'recentlyEndedPromo' }">
	    				<tr>
	    					<td data-bind="text: recentlyEndedPromo.product.name"></td>
	    					<td data-bind="text: recentlyEndedPromo.formattedEndDate"></td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    </div>
	</div>
</section>
