<section>
	<div class="col-md-8 col-xs-12">
		<div class="row">
			<div class="col-md-6 col-xs-12"><h4><strong>Recent Price Changes</strong></h4></div>
			<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-6 col-xs-12 pull-right"></div>
		</div>
		
		<div class="row">
	    	<div class="col-md-12">
	    		<table class="table table-responsive table-hover">
	    			<thead>
	    				<tr>
	    					<th>Product</th>
	    					<th>Unit</th>
	    					<th class="text-right">Old Price</th>
	    					<th class="text-right">New Price</th>
	    					<th class="text-center">As of</th>
	    				</tr>
	    			</thead>
	    		
	    			<tbody data-bind="foreach: { data: salePriceHistoryList, as: 'salePriceHistory' }">
	    				<tr>
	    					<td data-bind="text: salePriceHistory.product.name"></td>
	    					<td data-bind="text: salePriceHistory.unitType.displayName"></td>
	    					<td data-bind="text: salePriceHistory.formattedOldPrice" class="text-right"></td>
	    					<!-- ko if: salePriceHistory.increase -->
	    						<td><span class="text-danger pull-right"><span data-bind="text: salePriceHistory.formattedNewPrice"></span> <i class="fa fa-arrow-up"></i></span></td>
	    					<!-- /ko -->
	    					<!-- ko ifnot: salePriceHistory.increase -->
	    						<td><span class="text-success pull-right"><span data-bind="text: salePriceHistory.formattedNewPrice"></span> <i class="fa fa-arrow-down"></i></span></td>
	    					<!-- /ko -->
	    					<td data-bind="text: salePriceHistory.formattedCreatedOn" class="text-center"></td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    </div>
	</div>
</section>
