<section>
	<!-- <div class="row">
		<form role="search" class="form-inline">
			<div class="input-group pull-right col-md-4 col-xs-4">
	          	<input data-bind="textInput: searchKey" type="text" class="form-control" placeholder="Search by Order #">
		        <span class="input-group-btn">
		        	<button data-bind="click: search" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
		        </span>
	        </div>
        </form>
	</div>
	<br />
	 -->
	<div class="row">
		<!-- <div class="col-md-4 col-xs-4">
			<button data-bind="click: endOfShift" type="button" class="btn btn-danger">End of Shift</button>
		</div> -->
		<div class="col-md-offset-8 col-xs-offset-8 col-md-4 col-xs-4">
			<span class="text-muted pull-right"><i data-bind="click: refreshCustomerOrderList" class="fa fa-refresh"></i></span>
		</div>
	</div>
	 
	<div class="row">
		<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-12"></div>
	</div>
	
    <div class="row">
    	<div class="col-md-12">
    		<table class="table table-responsive table-hover">
    			<thead>
    				<tr>
    					<th>Order #</th>
    					<th>Server</th>
    					<th>Customer</th>
    					<th class="text-right">Total Amount</th>
    				</tr>
    			</thead>
    		
    			<tbody data-bind="foreach: { data: customerOrderList, as: 'customerOrder' }">
    				<tr>
    					<td data-bind="text: customerOrder.orderNumber"></td>
    					<td>
    						<span data-bind="if: customerOrder.creator">
    							<span data-bind="text: customerOrder.creator.lastName"></span><span>, </span><span data-bind="text: customerOrder.creator.firstName"></span>
    						</span>
    					</td>
    					<td>
    						<span data-bind="if: customerOrder.customer">
    							<span data-bind="text: customerOrder.customer.storeName"></span>
    						</span>
    					</td>
    					<td class="text-right"><span data-bind="text: customerOrder.formattedTotalAmount"></span></td>
    					<td>
    						<div class="pull-right">
    							<button data-bind="click: function() { $parent.pay(customerOrder.id) }, enable: $parent.enableButtons" type="button" class="btn btn-success btn-sm" title="Pay"><i class="fa fa-money"></i></button>
    							<button data-bind="click: function() { $parent.view(customerOrder.id) }, enable: $parent.enableButtons" type="button" class="btn btn-info btn-sm" title="View"><i class="fa fa-eye"></i></button>
    							<button data-bind="click: function() { $parent.returnToServer(customerOrder.id, customerOrder.orderNumber, customerOrder.creator.formattedName) }, enable: $parent.enableButtons" type="button" class="btn btn-warning btn-sm" title="Return"><i class="fa fa-arrow-left"></i></button>
    							<!-- ko if: $parent.allowedToDeleteOrder -->
    							<button data-bind="click: function() { $parent.remove(customerOrder.id, customerOrder.orderNumber) }" type="button" class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-trash"></i></button>
    							<!-- /ko -->
    						</div>
    					</td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
</section>
