<div id="divPayModal" class="modal-content modal-sm">
	<form>
	    <div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
	        <h2 align="center">Customer Order#<span data-bind="text: customerOrderNumber"></span></h2>
	    </div>
	    
	    <div class="modal-body">
		    <div class="row">
		    	<div class="control-group">
					<label class="control-label" for="discountType">Select Discount Type</label>
					<div class="controls">
						<select data-bind="options: discountTypeList, optionsValue: 'name', optionsText: function(discountType) { return ko.unwrap(discountType.displayName) + ' (' + ko.unwrap(discountType.percentDiscount) + '%)' }, optionsCaption: '-- Select Discount Type --', value: discountFormModel.discountType" class="form-control select-lg" id="discountType"></select>
						<p data-bind="text: errors.discountType" class="text-danger"></p>
					</div>
				</div>
		    
		        <div class="control-group">
					<label class="control-label" for="grossAmountLimit">Gross Amount Limit</label>
					<div class="controls">
						<input data-bind="value: discountFormModel.grossAmountLimit" type="text" id="grossAmountLimit" name="grossAmountLimit" placeholder="" class="form-control input-lg">
						<p><span class="help-block">Maximum discountable gross amount</span></p>
						<p data-bind="text: errors.grossAmountLimit" class="text-danger"></p>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="discountIdNumber">Discount Recipient Id Number</label>
					<div class="controls">
						<input data-bind="value: discountFormModel.discountIdNumber" type="text" id="discountIdNumber" name="discountIdNumber" placeholder="" class="form-control input-lg">
						<p><span class="help-block">SC/PWD Id No. for SCD or PWD Discount</span></p>
						<p data-bind="text: errors.discountIdNumber" class="text-danger"></p>
					</div>
					<label class="control-label" for="discountName">Discount Recipient Name</label>
					<div class="controls">
						<input data-bind="value: discountFormModel.name" type="text" id="discountName" name="discountName" placeholder="" class="form-control input-lg">
						<p data-bind="text: errors.name" class="text-danger"></p>
					</div>
					<label class="control-label" for="discountAddress">Discount Recipient Address</label>
					<div class="controls">
						<input data-bind="value: discountFormModel.address" type="text" id="discountAddress" name="discountAddress" placeholder="" class="form-control input-lg">
						<p data-bind="text: errors.address" class="text-danger"></p>
					</div>
					<label class="control-label" for="discountTin">Discount Recipient TIN</label>
					<div class="controls">
						<input data-bind="value: discountFormModel.tin" type="text" id="discountTin" name="discountTin" placeholder="" class="form-control input-lg">
						<p data-bind="text: errors.tin" class="text-danger"></p>
					</div>
				</div>
			</div>
	    </div>
	    
	    <div class="modal-footer">
	    	<button class="btn btn-primary pull-left" type="submit" data-bind="click: apply">Apply</button>
	        <button class="btn btn-warning" data-bind="click: cancel">Cancel</button>
	    </div>
    </form>
</div>
