<pre>
Purchase ID: <span data-bind="text: purchaseOrderPageModel.purchaseOrderId" class="text-danger"></span>			Company Name: <span data-bind="text: purchaseOrderPageModel.companyName" class="text-danger"></span>			Status:	<span data-bind="text: purchaseOrderPageModel.status" class="text-danger"></span>			Receipt Type:	<span data-bind="text: purchaseOrderPageModel.receiptType" class="text-danger"></span></pre>

<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1 class="text-center">Total Amount: <span class="label label-success">Php <span data-bind="text: purchaseOrderPageModel.formattedTotalAmount"></span></span></h1>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md-4 col-xs-6">
		<form role="search" class="form-inline">
			<button data-bind="click: search" class="btn btn-info col-xs-4" type="button"><span> </span><span class="glyphicon glyphicon-search"></span> Search </button>
			<div class="input-group col-xs-8">
				<input data-bind="value: barcodeKey, hasFocus: barcodeFocus" type="text" class="form-control" placeholder="Input Barcode Here.......">
				<span class="input-group-btn">
					<button data-bind="click: addItemByBarcode" type="submit" class="btn btn-default"><i class="fa fa-barcode"></i></button>
				</span>
			</div>
	   	</form>
	</div>
	<div class="col-md-4 col-xs-6">
		<span class="col-xs-4">B.O. Mode : </span>
		<div class="input-group col-xs-8">
			<input data-bind="checked: boMode" type="checkbox">
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-12 col-xs-12"></div>
	</div>
</div>

<div class="row">
   	<div class="col-md-12">
   		<table class="table table-responsive table-hover">
   			<thead>
   				<tr>
   					<th class = "text-center col-md-1 col-xs-1">Quantity</th>
   					<th>Unit</th>
   					<th>Code</th>
   					<th>Product Name</th>
   					<th data-bind="visible: beforeVatAndDiscount" class="text-right">No VAT Price</th>
   					<th data-bind="visible: beforeVatAfterDiscount" class="text-right">No VAT w/ Disc Price</th>
   					<th data-bind="visible: afterVatBeforeDiscount" class="text-right">Gross Price</th>
   					<th class = "text-right">Net Price</th>
   					<th class = "text-right">Total Price</th>
   				</tr>
   			</thead>
   			
   			<tbody data-bind="foreach: { data: purchaseOrderDetailList, as: 'orderDetail' }">
   				<tr>
   					<td class = "text-center"><input data-bind="value: orderDetail.quantity, event: { change: function() { $parent.changeQuantity(orderDetail.id, orderDetail.quantity) } }" type="text" size="5" class="form-control"></td>
   					<td data-bind="text: orderDetail.unitType.displayName"></td>
   					<td data-bind="text: orderDetail.productCode"></td>
   					<td data-bind="text: orderDetail.productName"></td>
   					<td data-bind="text: orderDetail.formattedBeforeVatAndDiscountPrice, visible: $parent.beforeVatAndDiscount" class = "text-right"></td>
   					<td data-bind="text: orderDetail.formattedBeforeVatAfterDiscountPrice, visible: $parent.beforeVatAfterDiscount" class = "text-right"></td>
   					<td data-bind="text: orderDetail.formattedGrossPrice, visible: $parent.afterVatBeforeDiscount" class = "text-right"></td>
   					<td data-bind="text: orderDetail.formattedNetPrice" class = "text-right"></td>
   					<td data-bind="text: orderDetail.formattedTotalPrice" class = "text-right"></td>
   					<td>
   						<div class="pull-right">
   							<button data-bind="click: function() { $parent.remove(orderDetail.id, orderDetail.quantity, orderDetail.productName, orderDetail.unitType.displayName) }" type="button" class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-trash"></i></button>
   						</div>
   					</td>
   				</tr>
   			</tbody>
   		</table>
   	</div>
</div>