<div id="divPurchaseOrderOfftakeFormModal" class="modal-content">
	<form>
	    <div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
	        <h3 align="center">Generate Offtake Average</h3>
	    </div>
	    
	    <div class="modal-body">
	    	<div class="row">
				<div class="control-group">
					<label for="inputCompany">Company</label>
					<select data-bind="options: companyList, optionsValue: 'id', optionsText: 'name', optionsCaption: '-- Select Company --', value: companyId" class="form-control" id="inputCompany"></select>
					<span class="help-block">Generate purchase order for which company</span>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="offtakeDays">Offtake of N Days</label>
					<div class="controls">
						<input data-bind="value: offtakeDays" type="number" step="any" id="offtakeDays" name="offtakeDays" placeholder="" class="form-control input-lg">
						<p class="help-block">Generate average offtake for how many selling days.</p>
					</div>
				</div>
				
				<div class="control-group">
					<label class="downloadFullListCheckbox">
						<input data-bind="checked: download" type="checkbox" name="downloadFullListCheckbox"> Download Complete List
					</label>
					<br>
					<label class="printRelevantProductsCheckbox">
						<input data-bind="checked: print" type="checkbox" name="printRelevantProductsCheckbox"> Print Relevant Products
					</label>
				</div>
			</div>
    	</div>
	    
	    <div class="modal-footer">
	    	<button data-bind="click: generate, enable: enableGenerateButton" type="submit" class="btn btn-primary">Generate</button>
	        <button data-bind="click: cancel" class="btn btn-warning">Cancel</button>
	    </div>
    </form>
</div>