<section>
	<div class="row">
		<div class="col-md-4 col-xs-4">
			<button data-bind="click: create" type="button" class="btn btn-success">Add New Company</button>
		</div>
		<form role="search" class="form-inline">
			<div class="input-group pull-right col-md-4 col-xs-4">
	          	<input data-bind="textInput: searchKey" type="text" class="form-control" placeholder="Search">
		        <span class="input-group-btn">
		        	<button data-bind="click: search" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
		        </span>
	        </div>
        </form>
	</div>
	<br />
	
	<div class="row">
		<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-12"></div>
	</div>
	
    <div class="row">
    	<div class="col-md-12">
    		<table class="table table-responsive table-hover">
    			<thead>
    				<tr>
    					<th class="text-center">Rank</th>
    					<th>Name</th>
    					<!-- <th>Address</th>
    					<th>Agent</th>
    					<th>Phone Number</th> -->
    					<th>Receipt Type</th>
    					<th class="text-right">Purchases (%)</th>
    					<th class="text-right">Sales (%)</th>
    					<th class="text-right">Profit (%)</th>
    				</tr>
    			</thead>
    		
    			<tbody data-bind="foreach: { data: companyList, as: 'company' }">
    				<tr>
    					<td class="text-center"><span data-bind="text: company.currentProfitRank"></span> 
    					<!-- ko if: company.rankIncrease -->
    						<span class="text-success"><i class="fa fa-arrow-up"></i><span data-bind="text: company.rankDeviation"></span></span>
    					<!-- /ko -->
    					<!-- ko if: company.rankDecrease -->
    						<span class="text-danger"><i class="fa fa-arrow-down"></i><span data-bind="text: company.rankDeviation"></span></span>
    					<!-- /ko -->
    					<!-- ko if: company.rankSame -->
    						<span class="text-info"><i class="fa fa-minus"></i><i class="fa fa-minus"></i></span>
    					<!-- /ko -->
    					</td>
    					<td data-bind="text: company.name"></td>
    					<!-- <td data-bind="text: company.address"></td>
    					<td data-bind="text: company.agent"></td>
    					<td data-bind="text: company.phoneNumber"></td> -->
    					<td data-bind="text: company.receiptType.displayName"></td>
    					<td class="text-right" data-bind="text: company.formattedPurchaseValuePercentage"></td>
    					<td class="text-right" data-bind="text: company.formattedSaleValuePercentage"></td>
    					<td class="text-right" data-bind="text: company.formattedProfitPercentage"></td>
    					<td>
    						<div class="pull-right">
    							<button data-bind="click: function() { $parent.view(company.id) } " type="button" class="btn btn-info btn-sm" title="View"><i class="fa fa-eye"></i></button>
    							<button data-bind="click: function() { $parent.edit(company.id) }" type="button" class="btn btn-warning btn-sm" title="Edit"><i class="fa fa-edit"></i></button>
    							<button data-bind="click: function() { $parent.remove(company.id, company.name) }" type="button" class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-trash"></i></button>
    						</div>
    					</td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
</section>
