<div class="row">
	<div class="panel panel-info col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-12">
		<div class="panel-body">
			<h4 class="text-center"><strong>Live Inventory</strong>
				<span class="text-muted pull-right"><i data-bind="click: refreshInventory" class="fa fa-refresh"></i></span>
			</h4>
			<div class="container-fluid">
		    	<h3 class="text-center"><span data-bind="text: formattedInventory"></span></h3>
	    	</div>
	    	<h5 class="text-muted pull-right">As of <span data-bind="text: time"></span></h5>
		</div>
	</div>
</div>

<hr>
<h4 class="text-center">Purchases</h4>
<div class="row">
	<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-12 col-xs-12"></div>
</div>
<div class="row">
   	<div class="col-md-12">
   		<table class="table table-responsive table-hover">
   			<thead>
   				<tr>
   					<th>ID</th>
   					<th>Delivery Date</th>
   					<th>Creator</th>
   					<th class = "text-center col-md-1 col-xs-1">Quantity</th>
   					<th>Unit</th>
   				</tr>
   			</thead>
   			
   			<tbody data-bind="foreach: { data: purchaseOrderDetailList, as: 'orderDetail' }">
   				<tr>
   					<td data-bind="text: orderDetail.purchaseOrder.id"></td>
   					<td data-bind="text: orderDetail.purchaseOrder.formattedDeliveredOn"></td>
   					<td>
   						<span data-bind="if: orderDetail.purchaseOrder.creator">
   							<span data-bind="text: orderDetail.purchaseOrder.creator.lastName"></span><span>, </span><span data-bind="text: orderDetail.purchaseOrder.creator.firstName"></span>
   						</span>
   					</td>
   					<td data-bind="text: orderDetail.quantity" class = "text-center"></td>
   					<td data-bind="text: orderDetail.unitType.displayName"></td>
   				</tr>
   			</tbody>
   		</table>
   	</div>
</div>

<br>
<hr>
<h4 class="text-center">Sales</h4>
<div class="row">
	<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage2, totalItems: totalItems2, currentPage: currentPage2 } }" class="col-md-12 col-xs-12"></div>
</div>
<div class="row">
   	<div class="col-md-12">
   		<table class="table table-responsive table-hover">
   			<thead>
   				<tr>
   					<th>Order ID</th>
   					<th>SI/Refund No.</th>
   					<th>Date Paid</th>
   					<th>Server</th>
   					<th>Cashier</th>
   					<th class = "text-center col-md-1 col-xs-1">Quantity</th>
   					<th>Unit</th>
   				</tr>
   			</thead>
   			
   			<tbody data-bind="foreach: { data: customerOrderDetailList, as: 'orderDetail' }">
   				<tr>
   					<td data-bind="text: orderDetail.customerOrder.id"></td>
   					<td>
   						<span data-bind="text: orderDetail.customerOrder.serialInvoiceNumber"></span>/
   						<span data-bind="text: orderDetail.customerOrder.refundNumber"></span>
   					</td>
   					<td data-bind="text: orderDetail.customerOrder.formattedPaidOn"></td>
   					<td>
   						<span data-bind="if: orderDetail.customerOrder.creator">
   							<span data-bind="text: orderDetail.customerOrder.creator.shortName"></span>
   						</span>
   					</td>
   					<td>
   						<span data-bind="if: orderDetail.customerOrder.cashier">
   							<span data-bind="text: orderDetail.customerOrder.cashier.shortName"></span>
   						</span>
   					</td>
   					<td data-bind="text: orderDetail.quantity" class = "text-center"></td>
   					<td data-bind="text: orderDetail.unitType.displayName"></td>
   				</tr>
   			</tbody>
   		</table>
   	</div>
</div>