<div class="row">
	<br>
	<dl class="dl-horizontal">
		<dt>Name:</dt>
		<dd data-bind="text: product.name"></dd>
		<dt>Display Name:</dt>
		<dd data-bind="text: product.displayName"></dd>
		<dt>Code:</dt>
		<dd data-bind="text: product.code"></dd>
		<dt>Category:</dt>
		<dd data-bind="text: product.category"></dd>
		<dt>Company:</dt>
		<dd data-bind="text: product.company"></dd>
		<br>
		<dt>Promo:</dt>
		<dd data-bind="text: product.promo"></dd>
		<dt>Tax Type:</dt>
		<dd data-bind="text: product.taxType"></dd>
		<dt>Allow SCD:</dt>
		<dd data-bind="text: product.allowSeniorDiscount"></dd>
		<dt>Allow PWD Disc.:</dt>
		<dd data-bind="text: product.allowPWDDiscount"></dd>
   	</dl>
   	<hr>
   	<dl data-bind="visible: allowStats" class="dl-horizontal">
		<dt>Purchase Val.(%):</dt>
		<dd data-bind="text: product.formattedOverallPurchaseValuePercentage"></dd>
		<dt>Sales Value (%):</dt>
		<dd data-bind="text: product.formattedOverallSaleValuePercentage"></dd>
		<dt>Profit (%):</dt>
		<dd data-bind="text: product.formattedOverallProfitPercentage"></dd>
   	</dl>
</div>
<!-- ifnot: allowStats -->
<br><br><br><br><br><br>
<!-- /ko -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>