<div class="modal-content modal-lg">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
			<h3 align="center" data-bind="text: productName"></h3>
		</div>
	  
		<div class="modal-body">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#info" data-toggle="tab">Info</a></li>
					<li><a href="#inventory" data-toggle="tab">Inventory</a></li>
					<li><a href="#stats" data-toggle="tab">Stats</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="info">
						<div class="row">
							<div data-bind="compose: { model: 'viewmodels/manage/productinfo', activationData: { productId : productId } }"></div>
						</div>
					</div>
					<div class="tab-pane" id="inventory">
						<div class="row">
							<div data-bind="compose: { model: 'viewmodels/manage/productinventory', activationData: { productId : productId } }"></div>
						</div>
					</div>
					<div class="tab-pane" id="stats">
						<div class="row">
							<div data-bind="compose: { model: 'viewmodels/manage/productstats', activationData: { productId : productId } }"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
  
		<div class="modal-footer">
			<button class="btn btn-warning" type="button" data-bind="click: cancel">Done</button>
		</div>
</div>