.text-lg-green-neuton {
	font-size: 200%;
	font-family: neuton;
	color: green;
}

.text-md-red-elite {
	font-size: 150%;
	font-family: special elite;
	color: red;
}

.text-md-black-elite {
	font-size: 150%;
	font-family: special elite;
	color: black;
}

.text-sm-tnr {
	font-size: 100%;
	font-family: times new roman;
	color: black;
}