<div class="row">
	<div class="panel panel-info col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-12">
		<div class="panel-body">
			<h4 class="text-center"><strong>Live Data</strong>
				<span class="text-muted pull-right"><i data-bind="click: refreshLiveSales" class="fa fa-refresh"></i></span>
			</h4>
			<div class="container-fluid">
		    	<dl class="dl-horizontal">
					<dt>Completed Sales :</dt>
					<dd><span class="pull-right" data-bind="text: completedSales"></span></dd>
					<dt>Total Sales :</dt>
					<dd><span class="text-success pull-right">&#8369; <span data-bind="text: formattedTotalSales"></span></span></dd>
					<dt>Total Profit :</dt>
					<dd><span class="text-success pull-right">&#8369; <span data-bind="text: formattedTotalProfit"></span></span></dd>
		    	</dl>
	    	</div>
	    	<h5 class="text-muted pull-right">As of <span data-bind="text: time"></span></h5>
		</div>
	</div>
</div>
<br><hr><br>
<h3 class="text-center">Daily Summary</h3>
<br>
<div class="row">
	<div class="panel panel-info col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">
		<div class="panel-body">
			<form>
				<div class="row">
					<div class="col-xs-5">
						<div class="form-group">
							<label for="inputDaysAgo" class="control-label">Included Days Ago</label>
							<input data-bind="value: daysAgo" type="number" class="form-control" id="inputDaysAgo" placeholder="">
						</div>
					</div>
					<div class="col-xs-7">
						<span><span data-bind="text: daysAgo"></span> Days Average Sales : <span class="text-info pull-right" >&#8369; <span data-bind="text: averageNetSales"></span></span></span><br>
						<span><span data-bind="text: daysAgo"></span> Days Average Profit : <span class="text-info pull-right">&#8369; <span data-bind="text: averageProfit"></span></span></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div id="dailyChart"></div>
</div>
<br><hr><br>
<h3 class="text-center">Monthly Summary</h3>
<br>
<div class="row">
	<div class="panel panel-info col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-12">
		<div class="panel-body">
			<form>
				<h4><strong>Compare Years</strong></h4>
				<div class="row">
					<div class="form-group col-xs-6">
						<label for="inputBaseYear" class="control-label">Base Year</label>
						<input data-bind="value: baseYear, attr: {min: 2016, max: currentYear}" type="number" class="form-control" id="inputBaseYear" placeholder="20xx">
					</div>
					<div class="form-group col-xs-6">
						<label for="inputVSYear" class="control-label">VS Year</label>
						<input data-bind="value: vsYear, attr: {min: 2016, max: currentYear}" type="number" class="form-control" id="inputVSYear" placeholder="20xx">
					</div>
					<p data-bind="text: yearErrorMessage" class="text-danger col-xs-12"></p>
				</div>
				<div class="row">
					<button data-bind="click: compare" class="btn btn-primary col-xs-offset-2 col-xs-4" type="submit">Compare</button>
			        <button data-bind="click: refresh" class="btn btn-warning col-xs-4">Refresh</button>
				</div>
			</form>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div id="monthlyChart"></div>
</div>
<br>