<div class="row">
	<h3>
		<span class="col-xs-3">Order <span class="text-md-red-elite">#<span data-bind="text: customerOrderPageModel.customerOrderNumber"></span></span></span>
		<span class="col-xs-6 text-center">TOTAL: <span class="text-lg-green-neuton">&#8369; <span data-bind="text: customerOrderPageModel.formattedTotalAmount" ></span></span></span>
		<span class="col-xs-3 text-right">Customer: <span class="text-md-black-elite"><span data-bind="text: customerOrderPageModel.customerName"></span></span></span>
	</h3>
</div>
<br>

<div class="row">
	<div class="col-md-4 col-xs-6">
		<form role="search" class="form-inline">
			<button data-bind="click: search" class="btn btn-info col-xs-4" type="button"><span> </span><span class="glyphicon glyphicon-search"></span> Search </button>
			<div class="input-group col-xs-8">
				<input data-bind="value: barcodeKey, hasFocus: barcodeFocus" type="text" class="form-control" placeholder="Input Barcode Here.......">
				<span class="input-group-btn">
					<button data-bind="click: addItemByBarcode" type="submit" class="btn btn-default"><i class="fa fa-barcode"></i></button>
				</span>
			</div>
	   	</form>
	</div>
	<div class="col-md-offset-2 col-xs-6">
		<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-12 col-xs-12"></div>
	</div>
</div>

<div class="row">
   	<div class="col-md-12">
   		<table class="table table-responsive table-hover">
   			<thead>
   				<tr>
   					<th class = "text-center col-md-1 col-xs-1">Quantity</th>
   					<th>Unit</th>
   					<th>Product Name</th>
   					<th class = "text-right">Unit Price</th>
   					<th class = "text-right">Total Price</th>
   				</tr>
   			</thead>
   			
   			<tbody data-bind="foreach: { data: customerOrderDetailList, as: 'orderDetail' }">
   				<tr>
   					<td class = "text-center"><input data-bind="value: orderDetail.quantity, event: { change: function() { $parent.changeQuantity(orderDetail.id, orderDetail.quantity) } }" type="text" size="5" class="form-control"></td>
   					<td data-bind="text: orderDetail.unitType"></td>
   					<td data-bind="text: orderDetail.productName"></td>
   					<td data-bind="text: orderDetail.formattedUnitPrice" class = "text-right"></td>
   					<td data-bind="text: orderDetail.formattedTotalPrice" class = "text-right"></td>
   					<td>
   						<div class="pull-right">
   							<button data-bind="click: function() { $parent.remove(orderDetail.id, orderDetail.quantity, orderDetail.productName, orderDetail.unitType) }" type="button" class="btn btn-danger btn-sm">Remove</button>
   						</div>
   					</td>
   				</tr>
   			</tbody>
   		</table>
   	</div>
   </div>

