## Template for Customer Order Printable Copy
## Has a maximum of 44 columns in a line
Order #${t.OrderNumber}
${t.FormattedPackageCount}
${t.FormattedCustomerOrderItems}
#if($t.Discounted)
                 Sub Total ${t.FormattedGrossAmount}
                 Price Off ${t.FormattedOutrightPromoDiscount}
#end
       Total Amount ${t.FormattedTotalAmount}
Items  : ${t.TotalItems}
Server : ${t.FormattedServer}
${t.FormattedDate}
${t.CustomerCode}