## Template for Customer Order Item
## Has a maximum of 44 columns in a line
Order #${t.OrderNumber}
Customer : ${t.FormattedCustomer}
--------------------------------------------
Qty Item(s)                           Amount
--------------------------------------------
#if(${t.WholeItemExists})
#foreach( $formattedWholeItem in $t.FormattedWholeItems)
$formattedWholeItem
#end

#end
#if(${t.CounterItemExists})
#foreach( $formattedCounterItem in $t.FormattedCounterItems)
$formattedCounterItem
#end

#end
#foreach( $formattedOtherItem in $t.FormattedOtherItems)
$formattedOtherItem
#end
--------------------------------------------
Items  : ${t.TotalItems}
Server : ${t.FormattedServer}