## Template for Customer Order Receipt
## Has a maximum of 44 columns in a line
        VPKC Grocery
           Abadilla St., Brgy. 17
          Laoag City, Ilocos Norte
       VAT Reg. TIN: 102-198-471-000
         SATURNINO O. CHUA - PROP.
              SIN: ${t.FormattedSIN}
${t.Date}

Order #${t.OrderNumber}
Customer : ${t.FormattedCustomer}
${t.FormattedCustomerOrderItems}
#if($t.Discounted)
                   Sub Total ${t.FormattedGrossAmount}
           Discount(${t.FormattedDiscountLabel}) ${t.FormattedTotalDiscountAmount}
#end

           Total Amount ${t.FormattedTotalAmount}
                        Cash ${t.FormattedCash}
                 Change ${t.FormattedChange}

                     VATable ${t.FormattedVatable}
                  VAT-Exempt ${t.FormattedVatExSales}
              VAT Zero-Rated ${t.FormattedZeroRatedSales}
                         VAT ${t.FormattedVat}
  
--------------------------------------------
Cashier : ${t.FormattedCashier}

Thank you, please come again
This serves as an OFFICIAL RECEIPT
Acc No: 
Date Issued: 
Valid Until: 
This Receipt shall be Valid for FIVE(5)
years from the date of the permit to use
Cust. Name : ___________________________
Address    : ___________________________
TIN #      : ___________________________
Bus. Style : ___________________________