## Template for Customer Order Receipt
## Has a maximum of 44 columns in a line
${t.FormattedHeader}
${t.FormattedSIN}
${t.FormattedRefundNumber}
${t.FormattedTitle}
${t.FormattedSubtitle}
${t.FormattedOrderNumber}
${t.FormattedCustomerOrderItems}
#if($t.NonZeroDiscount)
     Discountable Amount ${t.FormattedDiscountableAmount}
      Discount(${t.FormattedDiscountLabel}) ${t.FormattedTotalDiscountAmount}
         Net of Discount ${t.FormattedNetOfDiscount}
#end

       Total Amount ${t.FormattedTotalAmount}
                    Cash ${t.FormattedCash}
#if($t.PaidWithCheck)
${t.FormattedCheckAccountNumber}
${t.FormattedCheckNumber} ${t.FormattedCheckAmount}

           Total Payment ${t.FormattedTotalPayment}
#end
             Change ${t.FormattedChange}

           VATable Sales ${t.FormattedVatable}
              VAT Amount ${t.FormattedVat}
        VAT-Exempt Sales ${t.FormattedVatExSales}
        Zero-Rated Sales ${t.FormattedZeroRatedSales}
  
--------------------------------------------
Cust. Name : ___________________________
Address    : ___________________________
TIN #      : ___________________________
#if($t.Discounted)
${t.FormattedIdNumber}
Signature  : ___________________________
#else
Bus. Style : ___________________________
#end

Cashier : ${t.FormattedCashier}
Thank you, please come again

Saturnino O. Chua
Abadilla St., Brgy. 17
Laoag City, Ilocos Norte
VAT Reg. TIN: 102-198-471-0000
Acc No : 
Date Issued : 
Valid Until : 
PTU No. : 
Date Issued : 
Valid Until : 
#foreach( $disclaimer in $t.DisclaimerList)
$disclaimer
#end
${t.FormattedFooter}