## Template for Customer Order Printable Copy
## Has a maximum of 44 columns in a line
Order #${t.OrderNumber}
${t.FormattedCustomerOrderItems}

Items  : ${t.TotalItems}
Server : ${t.FormattedServer}