## Template for Generated Offtake Order Print
## Has a maximum of 44 Column per line
APPROXIMATE
${t.Date}
${t.OfftakeDays} days

Ord Inv    Item(s)
#foreach( $formattedGeneratedOfftake in $t.FormattedGeneratedOfftakes)
$formattedGeneratedOfftake
#end