## Format for Generated Offtake Item Print
## Has exactly 36 columns in a line
${t.FormattedQuantity} ___ ${t.FormattedName}#if(${t.Overflow})
#foreach( $overflow in $t.OverflowList)

$overflow#end
#end