## Template for Purchase Order Printable Copy
## Has a maximum of 44 columns in a line
P.O. ID #${t.Id}
${t.FormattedPurchaseOrderItems}
                   Sub Total ${t.FormattedTotalAmount}

Items  : ${t.TotalItems}
Server : ${t.FormattedServer}