## Template for Purchase Order Item
## Has a maximum of 44 columns in a line
${t.FormattedQuantity}${t.FormattedName}${t.FormattedTotalPrice}#if(${t.Overflow})
#foreach( $overflow in $t.OverflowList)

$overflow#end
#end