## Template for Purchase Order Item List
## Has a maximum of 44 columns in a line
--------------------------------------------
Qty    Item(s)                        Amount
--------------------------------------------
#foreach($formattedPurchaseOrderItem in $t.FormattedPurchaseOrderItems)
$formattedPurchaseOrderItem
#end
--------------------------------------------