## Template for Z Reading
## Has a maximum of 44 columns in a line
${t.FormattedHeader}
                 Z-Reading
                 
Z-Reading Counter    : ${t.FormattedZReadingCounter}
Reading Date         : ${t.FormattedReadingDate}
Number of Receipts   : ${t.FormattedReceiptCount}
Beginning SI No.     : ${t.FormattedBeginningSIN}
Ending SI No.        : ${t.FormattedEndingSIN}

Beginning Balance    : ${t.FormattedBeginningBalance}
Ending Balance       : ${t.FormattedEndingBalance}

Gross Sales          : ${t.FormattedGrossSales}

Tax Details :
VATable Sales        : ${t.FormattedVatableSales}
VAT Amount           : ${t.FormattedVatAmount}
VAT Exempt Sales     : ${t.FormattedVatExSales}
Zero Rated Sales     : ${t.FormattedZeroRatedSales}

Deductions :
Regular Discount     : ${t.FormattedRegularDiscountAmount}
SC Discount          : ${t.FormattedSeniorDiscountAmount}
PWD Discount         : ${t.FormattedPwdDiscountAmount}
Refund               : ${t.FormattedTotalRefund}

Refund Details :
Beginning Refund No. : ${t.FormattedBeginningRefundNumber}
Ending Refund No.    : ${t.FormattedEndingRefundNumber}
Beg. Refund Amount   : ${t.FormattedBeginningRefundAmount}
End Refund Amount    : ${t.FormattedEndingRefundAmount}

Payments :
Cash Payments        : ${t.FormattedTotalCashPayment}
Check Payments       : ${t.FormattedTotalCheckPayment}
Card Payments        : ${t.FormattedTotalCardPayment}
Points Payments      : ${t.FormattedTotalPointsPayment}

Net Sales            : ${t.FormattedNetSales}

Accumulated Grand Total : ${t.FormattedGrandTotal}
